.authForm {
    margin: 2 auto;
    /* border: 2px solid; */
    /* border-radius: 10%; */
    padding: 2rem;
    text-align: center;
    align-items: center;
    display: grid;
}

#lfi1 {
    padding: 10px;
    /* margin-bottom: 10px; */
    margin-bottom: 10px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}




