.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1;
  overflow: hidden;
  height: 100%;
  min-height: 0;
  display: flex;
}
.appbar-spacer {
  height: 6px;
  background-color: transparent;
}