.createTaskContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
    
    background-color: var(--input-bg-focus);
    border-style: solid;
    border-width: 2px;
    /* border-color: var(--input-bg); */
    border-color: var(--border-color);

    padding: 8px;
    position: fixed;
    bottom: 20px;
    width: 90%;
    /* left: 50%; */
    left: 5%;
    box-sizing: border-box;
    border-radius: 8px;
}
.createTaskButtons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
#taskInput {
    padding: 10px;
    font-size: 1em;
    color: var(--text-color);
    background-color: var(--input-bg);
}