/* .taskManagementContainer {
    display: flex;
    justify-content: center;

    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: darkslategray;
    align-items: center;
    border-radius: 8px;

    position: relative;
    bottom: 20px;
    width: 90%;
} */